---
layout: layouts/base.njk
templateClass: tmpl-clue
---

<h1> {{clue}} {{letters}} </h1>
{%- for post in collections.posts -%}
  {%- if post.data.title === puzzle %}
  <a href="{{ post.url | url }}"><h3> {{puzzle}} </h3></a>
  {%- endif %}
{%- endfor -%}
<details>
  <summary><b>Type of Clue</b></summary>
  &emsp;&emsp;Container
</details>
<details>
  <summary><span style="color:red">Cryptic</span> / <span style="color:blue">Straight</span> </summary>
  {%- if straight_is_first === "True" %}
      &emsp;&emsp;<span style="color:red">{{straight}} <span style="color:blue">{{crpytic}}</span></span>
 {%- else %}
     &emsp;&emsp;<span style="color:blue">{{crpytic}}</span> <span style="color:red">{{straight}}</span>
 {%- endif %}  
</details>

<details>
  <summary><b>Solution and Explanation </b></summary>
  <br><h1><b><span style="color:green; fontSize">&emsp;&emsp;{{answer}} </span></b></h1>
  <br>
<ul style="padding-left:25px">
{{ content | safe }}
</ul>
</details>
<br>