---
layout: layouts/base.njk
templateClass: tmpl-clue
---

{%- for post in collections.posts -%}
  {%- if post.data.title === puzzle %}
  <a href="{{ post.url | url }}"><h3> {{puzzle}} </h3></a>
  {%- endif %}
{%- endfor -%}
<h1> {{clue}} {{letters}} </h1>
<details>
  <summary><b>Type of Clue</b></summary>
  &emsp;&emsp;{{type_of_clue}}
</details>
<details>
  <summary><span style="color:red">Cryptic</span> / <span style="color:blue">Straight</span> </summary>
  {%- if straight_is_first === "True" %}
      &emsp;&emsp;<span style="color:blue">{{straight}} <span style="color:red">{{cryptic}}</span></span>
 {%- else %}
     &emsp;&emsp;<span style="color:red">{{cryptic}}</span> <span style="color:blue">{{straight}}</span>
 {%- endif %}  
</details>

<details>
  <summary><b>Solution and Explanation </b></summary>
  <br><p><b><span style="color:green;font-size:20px">&emsp;&emsp;{{answer}} </span></b></h1> ({{straight_explanation}})</p>
  <br>
<ul style="padding-left:25px">
{{ content | safe }}
</ul>
</details>
<br>