---
layout: layouts/base.njk
templateClass: tmpl-post
---
<style>
  .clues-container {
    display: flex;
    flex-wrap: wrap;
  }

  .clues {
    flex-basis: 50%; 
    min-width: 400px;
  }
</style>
<h1></h1>
<h1 class="post-title p-name" itemprop="name headline">{{ title }}</h1>

<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{%- for tag in tags | filterTagList %}
{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
<a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
{%- endfor %}

{{ content | safe }}

<div class='clues-container'>
  <div class='clues'>
    Across:
    <ol>
    {%- for post in collections.clue -%}
      {%- if post.data.puzzle === title and post.data.clue_category === 'across' %}
      <li value="{{ post.data.clue_num }}"><a href="{{ post.url | url }}">{{ post.data.clue }} {{post.data.letters}} </a></li>
      {%- endif %}
    {%- endfor -%}
    </ol>
  </div>

  <div class='clues'>
    Down
    <ol>
    {%- for post in collections.clue -%}
      {%- if post.data.puzzle === title and post.data.clue_category === 'down' %}
      <li value="{{ post.data.clue_num }}"><a href="{{ post.url | url }}">{{ post.data.clue }} {{post.data.letters}} </a></li>
      {%- endif %}
    {%- endfor -%}
    </ol>
  </div>
</div>

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if (nextPost and nextPost.date) or (previousPost and previousPost.date) %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
